<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <title>{% block title %}Flask Website{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Online Flower Shop</h1>
        <nav>
            <a href="{{ url_for('index2') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('order_history') }}">Order History</a>
            <a href="{{ url_for('invoice') }}">Invoice</a>
        </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Online Flower Shop</p>
    </footer>
</body>
</html>