<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
</head>
<body>

   <h1>Displaying JSON flower data</h1> 

   <ul>
    {% for flower, details in flowers.items() %}
        <li>
            {{ flower }} - ${{ details['price'] }}  (stock: {{ details['stock'] }})
        </li>
    {% endfor %}
   </ul>

   <h1>Add-ons Available</h1>
   <ul>
    {% for addon, details in addons.items() %}
        <li>
            {{ addon }} - ${{ details['price'] }}  (stock: {{ details['stock'] }})
        </li>
    {% endfor %}
   </ul>

</body>
</html>