{% extends "base.html" %}

</title>{% block title %}Home - Online Flower Shop{% endblock %}</title>

{% block content %}

<body>

    <form action="{{ url_for('add_to_cart') }}" method="post">
    <fieldset>
        <legend for="flower">Select Flowers</legend>
        <select name="flower" id="flower">
        {% for flower, details in flowers.items() %}
            <option value="{{ flower }}">{{ flower }} - ${{ details['price'] }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" min="1" value="1">
    <button type="submit">Add to Cart</button>
    </fieldset>
    </form>

<form action="{{ url_for('add_to_cart') }}" method="post">
<fieldset>
    <button type="submit">Add to Cart</button>
</fieldset>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h2>Your Cart</h2>
{% if cart %}
    <ul>
    {% for item, details in cart.items() %}
        <li>
        {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ '%.2f' % details['price'] }} = ${{details['quantity'] * details['price'] }}
        <a href="{{ url_for('remove_from_cart', item=item) }}">Remove</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
<h4>Total: ${{ '%.2f' % total}}</h4>

</body>
{% endblock %}